<% include ./partials/header %>

<form class="ui form">
		<div class="field">
		    <label>Email</label>
		    <input name="email" placeholder="Email" type="email">
		</div>
</form>

<div class="ui blogBody container" style="display:flex;flex-wrap:wrap;">
	
	<% if(currentUser && user._id.equals(currentUser._id)){ %>
	<div class="ui stackable one column grid">
	<div class="column">
			
			<form class="ui form"  action="/load" method="POST" enctype="multipart/form-data">
				<div class="field">
					<label>Image</label>
					<div class="ui right icon input">
						<input type="file" id="image" name="avatar" accept="image/*">
					</div>
				</div>
				<button class="ui button green" type="submit">Submit</button>
			</form>
            <div class="ui card">
			  <a class="image" href="#link">
			    <img src="<%= user.image %>">
			  </a>
			  <div class="content">
			    <a class="header" href="#link"><%= currentUser.username %></a>
		      </div>
	        </div>
		</div>
	<!-- FACEBOOK INFORMATION -->
        <div class="column">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.fbid %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>name</strong>: <%= user.facebook.fbname %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/auth/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>
        </div>

     <!-- GOOGLE INFORMATION -->
        <div class="column">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.gid %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>name</strong>: <%= user.google.gname %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/auth/google" class="btn btn-danger">Connect Google</a>
                <% } %>
        </div>
        
      <% } %>

    </div>
<div class="ui container" style="display:flex;flex-wrap:wrap;">
	<div class="ui stackable four column grid">
		<% user.blogs.forEach(function(blog){ %>
		  <div class="column">
		  		<div class="ui link cards">
					  <div class="card">
					    <div class="image">
					      <img src="<%= blog.image %>" >
					    </div>
					    <div class="content">
					      <div class="header"><%= blog.title %></div>
					      <div class="meta">
					        <span class="date"><%= blog.created.toDateString() %></span>
					      </div>
					      <div class="description">
					        <%- blog.body.substring(0,100) %>...<a href="/blogs/<%= blog._id %>"> Read More</a>
					      </div>
					    </div>
					    <div class="extra content">
					       <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
				              <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="delete">
				                  <button style="display:inline-block;" class="ui red button"> Delete </button>
				              </form>
				              <a class="ui blue button" href="/blogs/<%= blog._id %>/edit" > Update </a>
	            			<% } %> 
					    </div>
					  </div>
				</div>
		  </div>
		<% }); %>
		</div>
	</div>
</div>


<% include ./partials/footer %>