<% include ./partials/header %>

<div class="ui blogBody container" style="display:flex;flex-wrap:wrap;">
	<div class="ui stackable one column grid">
	<!-- FACEBOOK INFORMATION -->
        <div class="column">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.fbid %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>name</strong>: <%= user.facebook.fbname %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/auth/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>
        </div>

     <!-- GOOGLE INFORMATION -->
        <div class="column">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.gid %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>name</strong>: <%= user.google.gname %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/auth/google" class="btn btn-danger">Connect Google</a>
                <% } %>
        </div>
        <div class="column">
                <h3>Profile Image</h3>
                <form method="POST" enctype="multipart/form-data" action="/upload">
					<input type="file" name="filename">
					<input type="submit" value="upload">
				</form>
                <br>
                <h2><%= user.image %></h2>
                <img src="<%=user.image%>/">
        </div>
    </div>

	<div class="ui stackable four column grid">
	<% user.blogs.forEach(function(blog){ %>
	  <div class="column">
	  		<div class="ui link cards">
				  <div class="card">
				    <div class="image">
				      <img src="<%= blog.image %>" >
				    </div>
				    <div class="content">
				      <div class="header"><%= blog.title %></div>
				      <div class="meta">
				        <span class="date"><%= blog.created.toDateString() %></span>
				      </div>
				      <div class="description">
				        <%- blog.body.substring(0,100) %>...<a href="/blogs/<%= blog._id %>"> Read More</a>
				      </div>
				    </div>
				    <div class="extra content">
				       <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
			              <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="delete">
			                  <button style="display:inline-block;" class="ui red button"> Delete </button>
			              </form>
			              <a class="ui blue button" href="/blogs/<%= blog._id %>/edit" > Update </a>
            			<% } %> 
				    </div>
				  </div>
			</div>
	  </div>
	<% }); %>
	</div>
</div>



<% include ./partials/footer %>