<% include ./partials/header %>

<div class="ui blogBody container" style="display:flex;flex-wrap:wrap;">
	<h2> Welcome! <%= user.username%></h2><br>
	<div class="ui stackable four column grid">
	<% user.blogs.forEach(function(blog){ %>
	  <div class="column">
	  		<div class="ui link cards">
				  <div class="card">
				    <div class="image">
				      <img src="<%= blog.image %>" >
				    </div>
				    <div class="content">
				      <div class="header"><%= blog.title %></div>
				      <div class="meta">
				        <span class="date"><%= blog.created.toDateString() %></span>
				      </div>
				      <div class="description">
				        <%- blog.body.substring(0,100) %>...<a href="/blogs/<%= blog._id %>"> Read More</a>
				      </div>
				    </div>
				    <div class="extra content">
				       <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
			              <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="delete">
			                  <button style="display:inline-block;" class="ui red button"> Delete </button>
			              </form>
			              <a class="ui blue button" href="/blogs/<%= blog._id %>/edit" > Update </a>
            			<% } %> 
				    </div>
				  </div>
			</div>
	  </div>
	<% }); %>
	</div>
</div>



<% include ./partials/footer %>